:root {

  --fuente-1: 'Berkshire Swash', cursive;
  --fuente-2: 'Inconsolata', monospace;

  --background-color: #150b1d;

  --blanco-1: #b5b5b5;
  --blanco-2: #CFD8DC;

  --morado-1: #2f1f39;
  --morado-2: #3e3250;
  --morado-3: #382c46;
  --morado-4: #9991ad;

  --negro-1: #000;
  --negro-2: #202020;

  --boton-enabled: #60535C;
  --boton-disabled: #463d44;

  --exito: #00bf33;
  --error: #ff3c3c;
  --advertencia: #ffa616;
  --info: #31c1ff;

  --redondeado: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--blanco-1);
  background: var(--background-color);
  font-family: var(--fuente-2);
}
